{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="row white-bg-margin">
        <div class="col-md-6 col-md-offset-3">
            <div class="bg-container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <span class="big-title">鱼 书</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 flex-vertical input-margin">
                        <form action="" method="post">
                            <input id="old_password" name="old_password" type="password"
                                   placeholder="原密码"
                                   class="form-control none-input"/>
                            <input name="new_password1" type="password"
                                   placeholder="新密码"
                                   class="form-control none-input"/>
                            <input name="new_password2" type="password"
                                   placeholder="请确认新密码"
                                   class="form-control none-input"/>
                            <input style="margin-top:15px;" id="btn-submit"
                                   type="submit"
                                   class="btn btn-big btn-block" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
